[user]
	name = Travis Williamson
	email = travis.m.williamson@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = true
	editor = code --wait
[diff]
	tool = bc4
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[difftool]
	prompt = false
[difftool "bc4"]
	cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\"
	path = -ro
	trustExitCode = true
[merge]
	tool = bc4
	autoStash = true
	conflictstyle = zdiff3
[mergetool]
	prompt = false
[mergetool "bc4"]
	cmd = \"C:/Program Files/Beyond Compare 4/BCompare.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
	verbose = true
[alias]
    continue = "-c core.editor=true rebase --continue"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main
[push]
	default = current
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[color]
	ui = auto
[color "branch"]
    current = green reverse
    local = green
    remote = magenta
[color "status"]
	added = green
    changed = yellow
    untracked = normal red
	unmerged = normal yellow
[pull]
	rebase = true
[safe]
	directory = C:/Users/twilliamson
[column]
    ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[credential]
	helper = manager
[help]
	autocorrect = prompt
[rerere]
	autoSquash = true
	autoStash = true
	updateRefs = true
	enabled = true
	autoupdate = true