[user]
	name = Travis Williamson
	email = travis.m.williamson@gmail.com
[core]
	autocrlf = true
	editor = code --wait
	excludesFile = '~/.gitignore_global'
	symlinks = true
	filemode = false
[diff]
	tool = vscode
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[commit]
	template = ~/.stCommitMsg
	verbose = true
[alias]
    continue = "-c core.editor=true rebase --continue"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	fpush = push --force-with-lease
[credential]
	helper = manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[push]
	default = current
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[color]
	ui = auto
[color "branch"]
    current = green reverse
    local = green
    remote = magenta
[color "status"]
	added = green
    changed = yellow
    untracked = normal red
	unmerged = normal yellow
[pull]
	rebase = true
[column]
    ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
[rebase]
	updateRefs = true
[rerere]
	autoSquash = true
	autoStash = true
	updateRefs = true
	enabled = true
	autoupdate = true
[IncludeIf "gitdir:~/repos/work/"]
	path = ~/scripts/configs/git/.gitconfig.work
[Include]
	path = ~/.gitconfig.thisos
